<style type="text/css">
  .label-wrapper{
    padding:9px 10px
  }
</style>
<ion-view title="质检录入">
  <ion-content has-header="true" style="padding-top:0px;" scroll="true">
    <label class="item item-input-inset" style="border:none;padding:0px" ng-if="rept.errmsg">
      <span class="input-label" style="color:red;font-size:16px;padding:10px">{{rept.errmsg}}</span>
    </label>
    <label class="item item-input-inset" style="border:none;padding:0px" ng-if="rept.succmsg">
      <span class="input-label" style="color:green;font-size:16px;padding:10px">{{rept.succmsg}}</span>
    </label>
    <form ng-submit="presubmit()">
    <div class="list">
      <label class="item item-input-inset">
        <span class="input-label" >卡号：{{rept.cardno}}</span>
      </label>
      <label class="item item-input-inset">
        <span class="input-label" >磅单号：{{rept.reptno}}</span>
      </label>
      <label class="item item-input-inset">
        <span class="input-label" >车牌号：{{rept.hphm}}</span>
      </label>
      <label class="item item-input-inset">
        <span class="input-label" >存货：{{rept.invname}}</span>
      </label>
      <label class="item item-input-inset">
        <span class="input-label" >供应商：{{rept.vendername}}</span>
      </label>
      <label class="item item-input-inset">
        <span class="input-label" >毛重：{{rept.gross}}</span>
      </label>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="tel" placeholder="扣水" ng-model='edit.water'>
        </label>

        <label class="item item-input">
          <input type="tel" placeholder="扣粉" ng-model='edit.powder'>
        </label>

        <label class="item item-input">
          <input type="tel" placeholder="扣杂" ng-model='edit.other'>
        </label>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit" ng-if="rept.iid">提交</button>
    </div>
    </form>
  </ion-content>
</ion-view>
